.spa_title {
    font-weight: 900;
    color: #f9a392 !important;
}
.footer {
    color: #fff;
}
.spa_title span {
    color: #fff;
    font-weight: 900;
    font-size: calc(1.375rem + 1.5vw);
}
div.vertical-line {
    width: 1px; /* Line width */
    background-color: white; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
}
.footer-container p {
    font-size: 1.5rem;
}
.row .col a:hover {
    text-decoration: underline;
}
.row .col a {
    font-size: 1.2rem;
}
.footer-info {
    font-size: 1.5rem;
}
.row .col h3 {
    font-weight: 900;
    margin-bottom: 20px;
}
.row > * {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

@media screen and (max-width: 768px) {
    .row {
        display: block;
    }
    .sub-row {
        float: none !important;
    }
}
@media screen and (max-width: 1000px) {
    .sub-row {
        display: block !important;
        float: right;
    }
    .col {
        margin-bottom: 20px;
    }
}
.row .col a{
    display: flex;
    align-items: center;
}
span.footer-info{
    display: flex;
    align-items: center;
}