.css-3nejl.Appointment-appointment {
    background-color: rgb(249, 163, 146) !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 1.5rem !important;
}
li.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root.OutlinedSelect-menuItem.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 1.5rem !important;
}
.css-1675apn-MuiTableCell-root .Cell-dayOfWeek,
.css-1fbp63r .Label-text {
    font-size: 1.5rem !important;
}
.Content-relativeContainer svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    color: rgb(249, 163, 146) !important;
}
.Content-textCenter svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.Content-icon.css-i4bv87-MuiSvgIcon-root {
    color: #000 !important;
}
.css-17p3wh3-MuiGrid-root {
    font-size: 1.5rem;
}
button.css-mf1cb5-MuiButtonBase-root-MuiIconButton-root
    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    color: rgb(81, 79, 79) !important;
}
.css-hlj6pa-MuiDialogActions-root button {
    font-size: 2rem !important;
    color: rgb(249, 163, 146) !important;
}
.css-hlj6pa-MuiDialogActions-root button:nth-child(2) {
    color: rgb(222, 64, 33) !important;
}
.css-rxjku1-MuiModal-root-MuiDialog-root .Overlay-paper h2 {
    font-size: 2rem !important;
}
.css-1nifpm1-MuiFormControl-root-MuiTextField-root .TextEditor-title input {
    color: black !important;
    font-size: 2rem !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root svg {
    color: black !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root input {
    color: black !important;
    font-size: 2rem !important;
}
