.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #f9a392 !important;
}

.css-10d9dml-MuiTabs-indicator {
    background-color: #f9a392 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 1.5rem !important;
}
.hello-user {
    font-size: 1.5rem;
    font-style: italic;
}
.info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-btn {
    background-color: #f9a392 !important;
    font-size: 1.5rem;
}
.edit-btn:hover {
    background-color: #e07763 !important;
}
.sub_menu {
    display: none;
}
.sub_menu button#fade-button {
    background-color: #f9a392 !important;
    font-size: 1rem;
    color: #fff;
}
.history-modal-content {
    width: 600px !important;
}
.history-modal-content span {
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .MuiBox-root.css-am8yia {
        display: block !important;
    }
    .css-lfwcke-MuiTabs-flexContainer {
        display: none !important;
    }
    .sub_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .history-modal-content {
        width: 100% !important;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .css-9tzhi4-MuiTabPanel-root {
        padding: 0 !important;
    }
    .css-jne7bb {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
