@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: transparent !important;
  padding: 10px !important;
  color: white !important;
  font-size: 1.5rem !important;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border: 1px solid #fff;
  width: 100%;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: white;
}
h6.d-inline-block.text-white.text-uppercase.bg-primary.py-1.px-2 {
  background-color: rgb(249, 163, 146) !important;
}
.css-46bh2p-MuiCardContent-root {
  background-color: rgb(249, 163, 146) !important;
  color: #fff !important;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 1.25rem !important;
}

@media screen and (max-width: 768px) {
  .MuiDialogTitle-root + .css-ypiqx9-MuiDialogContent-root {
    width: 100%;
    padding: 0;

  }
}
.css-6od3lo-MuiChip-label {
  color: #000 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #000 !important;
  font-size: 20px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
  border: white !important;
}
.css-5z9me9-MuiAutocomplete-root .MuiOutlinedInput-root {
  border: 1px solid white !important;
  color: white !important;
}
.css-ptiqhd-MuiSvgIcon-root {
  color: white !important;
}
.css-bvunzn-MuiPagination-root ul li button,
.css-bvunzn-MuiPagination-root ul li div {
  font-size: 2rem !important;
}


@media screen and (max-width: 500px){
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 100% !important;
    margin: 0  !important;
  }
}