@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: transparent !important;
  padding: 10px !important;
  color: white !important;
  font-size: 1.5rem !important;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border: 1px solid #fff;
  width: 100%;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: white;
}
h6.d-inline-block.text-white.text-uppercase.bg-primary.py-1.px-2 {
  background-color: rgb(249, 163, 146) !important;
}
.css-46bh2p-MuiCardContent-root {
  background-color: rgb(249, 163, 146) !important;
  color: #fff !important;
}
